/**********************************************************************************************
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#myVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


@media (max-width: 767px) {
    #myVideo {
        display: none;
    }
    #container {
        background: url('http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/images/ForBiggerEscapes.jpg');
        background-size: 100% 100%;
    }
}
